@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background:url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size:cover;
    margin: 0;
    padding: 0;
   
}
h1{
    margin: 40px;
}
input{
    /* background-color: rgb(201, 190, 212); */
    color: black;
    width: 30vw;
    height: 5vh;
    padding: 0px;
    margin: 1px;
    /* z-index: 20; */
}
input:focus{
    outline: none;
    
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /* background: url(pexels-steve-johnson-1509534.jpg); */
   

}
#search_input{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    padding: 0px 6px;
    width: auto;
}
/* #search_input:hover{border:2px solid blue;} */

#icon1{
    background-color:white;
    width: 36px;
    height:36px;
}

.navbar{
    /* background:url(pexels-steve-johnson-1509534.jpg); */
    /* background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size:cover; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: wrap;
   background-color:rgb(0, 0, 0);
   color: white;
   height: 6vh;
   /* z-index: 20; */
   /* position: fixed; */
   /* margin:20px; */
   padding: 15px;
   font-family: 'Ubuntu', sans-serif;
   font-size: 18px;
}
.result{display:flex;
    justify-content: center;
    flex-direction:wrap;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width:max-content;
    /* padding: 5px; */
    /* margin: auto; */
    border-radius:  10px 10px 250px 10px;
    color: white;
    font-size: large;
    
    
}
.result img{
    /* border: 2px solid black; */
    /* position:relative; */
    border-radius: 150px;
    width: 250px;
    padding: 4px;
    background-color: rgb(33, 27, 95);
    /* opacity: 1; */

}


.result p{
 font-weight: bolder;
}
#details{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    /* align-items: ; */
    align-items: baseline;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    /* background-color: rgb(0, 0, 0); */
}

#details p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    margin: 0;
    color:rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    /* background-color: rgb(0, 0, 0); */

}

#details a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 0;
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(42, 228, 5);

}
#details a:hover{
    background-color: green;
}